section, body {
  background-color: pink;
}

form#trackSubmit {
  display: none;
}

button#removeSurvey {
  display: none;
}

h1 {
  width : 40%;
}

form {
  width: 40%;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  color : white;
  background-color: black;
  align-items: center;
}

.colorSelect {
  width: 50%;
}

.fancyOutput, .fancyOutput2, .fancyOutput4 {
  display: none;
  font-family: cursive;
}

#manThinking {
  float: right;
  width : 500px;
  z-index: -1;
}

#userNameOut, #userResult {
  text-decoration: underline;
}

#colorForm {
  align-items: center;
}
