body {
  background-color: pink;
}

select{
  width: 400px;
}

form#trackSubmit {
  display: none;
}

h1 {
  width : 40%;
}

form {
  width: 40%;
}

.colorSelect {
  width: 30%;
}

.fancyOutput {
  display: none;
  font-family: cursive;
}

#manThinking {
  float: right;
  width : 500px;
  z-index: -1;
}

#userNameOut, #userResult {
  text-decoration: underline;
}
